.block{
    div{
        width: 1000px;
        height: 1000px;
        position: relative; 
    }
    div>div{
        position: absolute; 
    }
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}