.block{
    .block-container{
        width: 1000px;
        height: 1000px;
        position: relative; 
    }
    .block-holds{
        width: 1000px;
        height: 1000px;
    }
    div>div{
        position: absolute; 
    }
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}